*.swp
*.profile*
*.txt
build
Visual*
Code*
.gitattributes
.vs/
*.sln
*.vgdbproj
*.TMP
*.user
tests/.pytest_cache
tests/__pycache__
tests/func/__pycache__
tests/output
STM32/Debug
STM32/*.vgdbsettings
STM32/*.vcxproj
STM32/*.vcxproj.filters
STM32/*.props
STM32/*.xml