*.swp
*.profile*
build
Visual*
Code*
.gitattributes
.vs/
*.sln
*.vgdbproj
*.TMP
*.user
STM32/Debug
STM32/*.vgdbsettings
STM32/*.vcxproj
STM32/*.vcxproj.filters
STM32/*.props
STM32/*.xml
scripts/__pycache__